%h1 Submit A New Data Set
= form_for(@raw_data_set, :html => { :multipart => true }) do |f|
  - if @raw_data_set.errors.any?
    %h2 #{pluralize(@raw_data_set.errors.count, "error")}
    %p There were problems in the following fields:
    %ul
      = @raw_data_set.errors.full_messages.each do |msg|
        %li #{msg}
  = f.label :mass_spec_type, 'Mass Spec Type'
  = f.text_field :mass_spec_type
  %br
  = f.label :organism_name, "Organism Name"
  = f.text_field :organism_name
  %br
  = f.label :data_file
  = f.file_field :data_file
  %br
  = submit_tag "Submit"


