#header
  #logo
    %h1 PocketBook
  #menu
    %ul
      %li
        != "#{link_to("Home", "/")} | "
      %li
        != "#{link_to("About", "about")} | "
      %li
        != "#{link_to("Submit Data", new_raw_data_set_path)} | "
      %li
        != "#{link_to("Search", search_path)} | "
      %li
        != "#{link_to("Browse", raw_data_sets_path)}"
