%table
  %tr
    %th Raw Data Set
    %th Organism Name
    %th Mass Spec Type
    %th Spectra Type
    %th Solvent Used
  - @raw_data_sets.each do |raw_data_set|
    %tr
      %td #{link_to("#{raw_data_set._id}", raw_data_set)}
      %td #{raw_data_set.organism_name}
      %td #{raw_data_set.mass_spec_type}
      %td #{raw_data_set.spectra_type}
      %td #{raw_data_set.solvents}

