!!!
%html
%head
  %title 
    = title
  = render :partial => "layouts/stylesheets_and_scripts"
  = csrf_meta_tag
%body
  #page
    = render :partial => "layouts/header"
    .notice
      = notice
    .alert
      = alert
    #content
      = yield
    = render :partial => "layouts/footer"
